body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #66BFBF;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Veranda', cursive, sans-serif;
}

h2 {
  color: #66BFBF;
  font-family: 'Comic Sans MS', sans-serif;
  font-size: 2.5rem;
}

h3 {
  color: #11999E;
  font-family: 'Comic Sans MS', sans-serif;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 8px;
  width: 5%;
}

p {
  color: #40514E;
  font-weight: bolder;
  font-size: 20px;
  font-family: 'Comic', sans-serif;
  line-height: 2;
}

.bio{
  width:50%;
  text-align: center;
  margin: auto auto 20px auto;
  padding:10px;
}

.programmer {
  font-weight: normal;
}

.circular {
  border-radius: 100%;
}

.contact-me{
  margin-bottom: 80px;
}

.contact-message{
  width: 30%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6f6;
}

.btn {
  color:white;
  box-shadow: 0 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#66BFBF;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	font-family:Verdana;
	font-size:20px;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0 1px 0 #3d768a;
  margin-top: 20px;

}

.footer-link {
  color: #11999E;
  text-decoration: none;
  font-family: 'Comic Sans MS', sans-serif;
  font-size:20px;
}

.javascript {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.web-developer {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.skill-row {
  width: 45%;
  margin: 75px auto 75px auto;
  text-align: left;

}

.top-container {
  background-color: #EAF6F6;
  padding: 20px;
  margin: 10px;
  position: relative;
  padding-top: 100px;
}

.middle-container {}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px 0 20px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  top: 300px;
  left: 300px;
  bottom: 300px;
}
